<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="utf-8">
    <title>My Site</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <header>
        <h1>{{title}}</h1>
    </header>

    <main>
        {{{body}}}
    </main>
    
    <footer>
    <p>Group 9</p>
    <p>Name:</p>
    <p>student ID:</p>
    </footer>
</body>

</html>